.splash-hero {
    background-image: url(../../images/heroSafe.png);

}

.splash-hero-header {
    position: relative;
    text-align: center;
    top: 125px;
    background-color: #e6e6e6;
    text-shadow: 1px 2px #297373;
    display: inline;
}

@media only screen and (max-width: 992px) {
    /* For mobile phones: */
    [class*="splash-hero"] {
        display: none;
    }
}