.resource-card-container {
    padding: 50px;
    padding-bottom: 100px;
}

.card {
    padding: 20px;
    border-color:  #F8F9FA;
    background-color:  #F8F9FA;
}

.resource-card-title {
    text-align: center;
}

.resource-card-info {
    text-align: center;
}