.resource-card-container {
    padding: 50px;
    padding-bottom: 100px;
}

.card {
    padding: 20px;
    border-color:  #F8F9FA;
    background-color:  #F8F9FA;
}

.resource-card-title {
    text-align: center;
    color: #451F55;
    font-weight: bold;
    text-shadow: 1px 1px #297373;
}

.resource-card-info {
    text-align: center;
    color: #451F55;
    font-weight: bold;
}

.download-button {
    text-align: center;
    background-color: #297373;
    border-color: #297373;
    box-shadow: 1px 1px #451F55;
}