.splash-banner{
    background-image: url(../../images/homePage/splashBanner.png);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat repeat;
}

.splash-banner-text {
    background-color: #ffffff;
    color: #297373;
    text-align: center;
    margin-top: 150px;
}