.wave-image {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -10px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="wave-image"] {
        display: none;
    }
}