.product-card-container {
    padding-bottom: 100px;
}

.product-card-deck {
    margin-bottom: 20px;
}

.product-card-body {
    background-color: #F8F9FA;
    border: 2px outset #451F55;
    box-shadow: 1px 1px #297373;
    margin-bottom: 20px;
}

.product-card-info {
    height: 200px;
}

.product-image {
    float: left;
    border: 2px solid #451F55;
    box-shadow: 1px 1px #297373;
}

.product-text {
    position: relative;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-size: 25px;
    color: #451F55;
}