.product-card-container {
    padding-bottom: 100px;
}

.product-card-deck {
    margin-bottom: 20px;
}

.product-card-body {
    background-color: #e9ecef;
    border: 2px solid #451F55;
    box-shadow: 1px 1px #297373;
}

.product-card-info {
    height: fit-content;
}

.product-image {
    float: left;
    border: 2px solid #451F55;
    box-shadow: 1px 1px #297373;
}