.products-hero {
    background-image: url(../../images/shop2.png);
    margin-top: 10px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat repeat;
}

.products-hero-headline {
    position: relative;
    text-align: center;
    top: 50%;
    font-weight: bold;
    color: #E6E6E6;
}

/* Arrow */
.arrow{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #297373;
    border-right: 5px solid #297373;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
/* End Arrow */

.products-header {
    margin-top: 40px;
    padding: 40px 20px 10px 20px;
    height: fit-content;
    background-color: #F8F9FA;
}

.all-product-description {
    position: relative;
    margin-top: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: #451F55;
}

.line-break-one {
    bottom: 0;
    border: 1px solid #297373;
}

/* Button */

.product-button {  
    position: relative;
    margin-top: 20px;
    width: fit-content;
    text-align: center;
    background-color: #451F55;
    border-color: #451F55;
    box-shadow: 3px 3px #297373;
    color: #E6E6E6;
}

.product-button:hover {
    background-color: #297373;
    border-color: #297373;
    box-shadow: 3px 3px #451F55;
    color: #E6E6E6;
}

.product-button:active{
    background-color: #E6E6E6 !important;
    border-color: #451F55 !important;
    box-shadow: 3px 3px #297373 !important; 
}

/* End Button */

@media only screen and (max-width: 992px) {
    /* For mobile phones: */
    [class*="products-hero"] {
        margin-top: 50px;
        height: fit-content;
        padding-top: 5px;
        text-align: center;
    }
}