.footer {
    background-color: #451F55;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #E6E6E6;
    z-index: 2;
}

.footer-text {
    text-align: left;
    padding: 20px;
}

.footer-copyright {
    position: relative;
    text-align: center;
    top: 115px;
}