.products-container {
    margin-top: 70px;
}

.products-hero {
    padding: 40px 20px 10px 20px;
}

.products-headline {
    color: #451F55;
}
.line-break-one {
    border: 1px solid #297373;
}

@media only screen and (max-width: 992px) {
    /* For mobile phones: */
    [class*="products-hero"] {
        margin-top: 50px;
        height: fit-content;
        padding-top: 5px;
        text-align: center;
    }
}