body {
  background-color: #e6e6e6;
}

.jumbotron {
  position: relative;
  margin-top: 70px;
  height: 400px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  body {
      background-image: url(../src/images/heroSmall.png);
  }
}