.resource-hero {
    background-image: url(../../images/resourcePage/resourceHero.png);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat repeat;
    margin-top: 10px;
}

.resource-headline {
    position: relative;
    top: 200px;
    background-color: #F8F9FA;
    text-align: center;
    color: #297373;
}

/* Arrow */
.resource-arrow{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.resource-arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #451F55;
    border-right: 5px solid #451F55;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.resource-arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.resource-arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
/* End Arrow */