.main-nav {
    background-color: #F8F9FA;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

.main-brand-text{
    color: #451F55;
    margin-top: 35px;
}

.nav-links {
    font-weight: bold;
    margin-top: 30px;
}

.nav-button {
    background-color: #451F55;
    width: 100%;
}

.phone-number {
    margin-right: -200px;
    font-weight: bold;
    padding-bottom: 20px;
}

@media only screen and (max-width: 375px) {
    /* For mobile phones: */
    [class*="main-nav"] {
       padding-top: 0px;
    }

    [class*="main-nav-logo"] {
        width: 75%;
        height: 75%;
        margin-left: 35px;
    }

    [class*="nav-links"] {
        text-align: center;
    }

    [class*="main-brand-text"] {
        text-align: center;
        padding-top: 3px;
    }
}